.spacer {
    flex: 1 1 auto;
  }
.container {
    margin:16px;
    width: 100%;
}

.random {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #009639;
}

.strikethrough {
    text-decoration: line-through;
  }