<div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class="container">
  <h4>My <span class="strikethrough" >friends</span> competitors</h4>

  <div color="accent" class="random">
    <span>{{fname1}}</span>
    <span class="spacer"></span>
    <span style="padding-right: 24px;"> Completed {{fdone1}} / {{ftotal1}} </span>
  </div>
  <div color="accent" class="random">
    <span>{{fname2}}</span>
    <span class="spacer"></span>
    <span style="padding-right: 24px;"> Completed {{fdone2}} / {{ftotal2}} </span>
  </div>
  <div color="accent" class="random">
    <span>{{fname3}}</span>
    <span class="spacer"></span>
    <span style="padding-right: 24px;"> Completed {{fdone3}} / {{ftotal3}} </span>
  </div>
</div>