<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{skill.name}}</mat-card-title>
      <mat-card-subtitle>{{skill.why}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="padding-left: 16px !important;">
      <h3>Learning outcomes</h3>
      <ul>
        <li *ngFor="let outcome of skill.learningOutcomes">{{outcome}}</li>
      </ul>
      
      <div *ngIf="expanded">
        <iframe width="100%" height="240" src="https://www.youtube.com/embed/LaIAHOSKHCQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div *ngFor="let material of skill.learningMaterials.chapters">
          <h4>{{material.heading}}</h4>
          <p *ngFor="let p of material.paragraphs">{{p}}</p>
        </div>
      </div>

      <h3>Assignment</h3>
      <p> <mat-checkbox *ngIf="!isAdmin()"></mat-checkbox> {{skill.assignment}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div style="display: flex; justify-content: flex-end; width: 100%;">
        <button mat-raised-button color="accent" (click)="expand()">{{expanded ? 'Close' : 'Learning materials'}}</button>
        <button mat-raised-button color="accent" (click)="completed()" *ngIf="isAdmin()">Completed</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>